# Java compiled files
*.class

# Build folder
GTWClient/target/
GTWServer/target/
GTWShared/target/

# File Personali
personal_files
/GTWServer/nbproject/
shellscripts/

.DS_Store
Thumbs.db

GTWServer/ServerDB
